.activities-container {
    min-height: 120vh;
    width: 100vw;
    background-color: rgb(80, 80, 80);
    padding-top: 10px;
}

.activities {
    display: flex;
    gap: 150px;
    justify-content: center;
    align-items: center;
    margin: 0 200px;
}

.activities img{
    height: 300px;
    width: 300px;
    background-color: white;
    border-radius: 50%;
    object-fit: contain;
    transition: transform 0.2s ease;
}

.activities img:hover {
    transform: translateY(-5px);
}

.description a {
    text-decoration: none;
}

.description a h3 {
    transition: color 0.2s ease, font-size 0.2s ease;
}

.description a h3:hover {
    color: rgb(255, 153, 51);
    font-size: 27px;
}