.activities-container {
    min-height: 240vh;
    width: 100vw;
    background-color: rgb(80, 80, 80);
    padding-top: 10px;
}

.activities {
    display: flex;
    gap: 150px;
    justify-content: center;
    align-items: center;
    margin: 0 200px;
}

.activities-container h2.title {
    color: rgb(255, 153, 51);
    line-height: 20px;
    margin-top: 30px;
}

.activities-container h3.description {
    font-size: 40px;
    margin-bottom: 100px;
    line-height: 0;
}

.activities img{
    height: 300px;
    width: 300px;
    background-color: white;
    border-radius: 50%;
    object-fit: contain;
    transition: transform 0.2s ease;
}

.activities img:hover {
    transform: translateY(-5px);
}

.description a {
    text-decoration: none;
}

.description a h3 {
    transition: color 0.2s ease, font-size 0.2s ease;
}

.description h4 {
    line-height: 1.5;
}

.description a h3:hover {
    color: rgb(255, 153, 51);
    font-size: 27px;
}

@media (max-width: 600px) {
    .activities-container h2.title {
        font-size: 20px;
    }
    
    .activities-container h3.description {
        font-size: 25px;
        margin-bottom: 75px;
    }

    .activities {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 50px;
        padding-bottom: 0;
    }

    .activities > a {
        order: -1;
    }

    .activities img {
        height: 200px;
        width: 200px;
        margin-bottom: -110px;
    }

    .description {
        margin-bottom: 50px;
    }
}