.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    padding: 20px 10%;
    display: flex;
    justify-content: center;
    transition: background-color 0.3s ease;
    z-index: 1000;
}

.navbar.scrolled {
    background-color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-right: 60px;
    font-family: "Roboto", sans-serif;
}

.navbar a:last-child {
    margin-right: 0;
}